<!-- <ion-header>
  <ion-toolbar>
    <ion-title>segment</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Segment">
  
</app-header>

<ion-segment value="actualidad">
  <ion-segment-button value="actualidad">
    <ion-label>ACTUALIDAD</ion-label>
  </ion-segment-button>
  <ion-segment-button value="politica">
    <ion-label>POLÍTICA</ion-label>
  </ion-segment-button>
  <ion-segment-button value="economia">
    <ion-label>ECONOMIA</ion-label>
  </ion-segment-button>
  <ion-segment-button value="tecnologia">
    <ion-label>TECNOLOGIA</ion-label>
  </ion-segment-button>
  
</ion-segment>



<ion-content>

</ion-content>
