<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Tabs"></app-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="avatar">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Avatar</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="lists">
        <ion-icon name="map"></ion-icon>
        <ion-label>Lists</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
