<!-- <ion-header>
  <ion-toolbar>
    <ion-title>lists</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Lists"></app-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Pilar Pastor López</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Luisa Pastor López</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Joaquín Pastor López</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Carmen Pastor López</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Aarón Pastor Lazo</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Chloe Pastor Lazo</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Mari Paz Ródenas Pastor</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Luis Francisco Navarro Pastor</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>José Vicente Navarro Pastor</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Noa Deltell Rodenas</ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Luis Del Toro Castro </ion-label>
      <ion-icon name="call-outline" size="small" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>